body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.container {
  width: 80%;
  max-width: 980px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

h1 > span {
  color: #b7832f;
}

img {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50;
}

div.image-container {
  position: relative;
  height: 200px;
  width: 100%;
  max-height: 200px;
  overflow: hidden;
}
